secrets/service_account.json

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
venv/

# Environments
.env
.env.*
!.env.template

# Logs
*.log

# IDEs
.idea/
.vscode/

# OS
.DS_Store

# Misc
scraper.log
